[submodule "tools/verso-harness"]
	path = tools/verso-harness
	url = https://github.com/ejgallego/leanblueprint-to-verso.git
[submodule "Sphere-Packing-LaTeX-Reference"]
	path = Sphere-Packing-LaTeX-Reference
	url = https://github.com/thefundamentaltheor3m/Sphere-Packing-Lean.git
