[submodule "tools/verso-harness"]
	path = tools/verso-harness
	url = git@github.com:ejgallego/leanblueprint-to-verso.git
[submodule "Sphere-Packing-LaTeX-Reference"]
	path = Sphere-Packing-LaTeX-Reference
	url = git@github.com:thefundamentaltheor3m/Sphere-Packing-Lean.git
